html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 100%;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  max-height: 100%;
  font-family: 'Barlow Semi Condensed', sans-serif;
  background: radial-gradient(#1f3756, #141539);
}

header {
  margin: 1.875em auto;
  padding: 0.625em;
  outline: #606e85;
  border: 3px solid #606e85;
  border-radius: 0.8em;
  height: 6.1875rem;
  width: 19.5625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header img {
  margin: auto 0.625em;
  height: 3em;
}

header .score {
  width: 5em;
  height: 4.5em;
  background: white;
  border: none;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em;
}

header .score h4 {
  color: #2a46c0;
  margin: 0;
  font-weight: 600;
  font-size: 0.7rem;
}

header .score p {
  font-weight: 700;
  font-size: 2rem;
  margin: 0;
  color: rgba(59, 67, 99, 0.85);
  line-height: 1;
}

main {
  padding: 4.5em 0 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 19.5625rem;
  margin: 0 auto;
}

main div.first {
  width: 13em;
  display: none;
}

main nav.rules {
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  padding: 0 2em;
}

main nav.rules button {
  width: 8.125rem;
  height: 2.625rem;
  border: 2px solid #fff;
  background: transparent;
  color: #fff;
  font-size: 1em;
  text-transform: uppercase;
  font-family: inherit;
  padding: 0.25em 1.5625em;
  border-radius: 10px;
  letter-spacing: 0.15em;
  margin: 0 auto;
}

main div.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  width: inherit;
}

main div.main button {
  width: 8.1875rem;
  height: 8.4375rem;
  border-radius: 50%;
  -webkit-box-shadow: inset 0 -0.3rem rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 -0.3rem rgba(0, 0, 0, 0.2);
}

main div.main button span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-color: #fff;
  height: 6.25rem;
  width: 6.25rem;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: inset 0 0.3rem rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 0.3rem rgba(0, 0, 0, 0.2);
}

main div.main .paper-option {
  outline: none;
  border: none;
  background: -webkit-gradient(linear, left top, left bottom, from(#4865f4), to(#5671f5));
  background: linear-gradient(#4865f4, #5671f5);
}

main div.main .scissors-option {
  outline: none;
  border: none;
  background: -webkit-gradient(linear, left top, left bottom, from(#ec9e0e), to(#eca922));
  background: linear-gradient(#ec9e0e, #eca922);
}

main div.main .rock-option {
  outline: none;
  border: none;
  background: -webkit-gradient(linear, left top, left bottom, from(#dc2e4e), to(#dd405d));
  background: linear-gradient(#dc2e4e, #dd405d);
}

main div.main div.controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: inherit;
  height: 17.6875em;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-bottom: 8.625rem;
}

main div.main div.controls img {
  width: auto;
  height: 2.5rem;
}

main div.main div.controls button img.rock-image {
  height: 2.2rem;
  width: auto;
}

main div.main div.controls .paper__option__main {
  margin: 0 auto auto 0;
}

main div.main div.controls .scissors__option__main {
  margin: 0 0 auto auto;
}

main div.main div.controls .rock__option__main {
  margin: auto auto 0 auto;
}

main div.main div.controls::after {
  content: '';
  position: absolute;
  background-image: url("./images/bg-triangle.svg");
  background-repeat: no-repeat;
  background-size: 12rem 12rem;
  height: 65%;
  width: 65%;
  top: 20%;
  left: 20%;
  z-index: -1;
}

main div.main section.picking-section {
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: inherit;
  height: 17.6875em;
  margin-bottom: 8.625rem;
}

main div.main section.picking-section h3 {
  color: white;
  font-size: 0.7em;
}

main div.main section.picking-section .picking-option {
  -webkit-box-shadow: inset 0 -0.3rem rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 -0.3rem rgba(0, 0, 0, 0.2);
}

main div.main section.picking-section .picking-option span {
  -webkit-box-shadow: inset 0 0.3rem rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 0.3rem rgba(0, 0, 0, 0.2);
}

main div.main section.picking-section .picking-option span img {
  width: auto;
  height: 2.5rem;
}

main div.main section.picking-section .picking-option span img.rock-image {
  height: 2.2rem;
  width: auto;
}

main div.main section.picking-section .picking {
  -webkit-box-shadow: none;
          box-shadow: none;
  background: transparent;
}

main div.main section.picking-section .picking span {
  width: 8.1875rem;
  height: 8.4375rem;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #141539;
  -webkit-box-shadow: none;
          box-shadow: none;
}

main div.main section.picking-section .picking span img {
  visibility: hidden;
}

main div.main section.picking-section .user-option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main div.main section.picking-section .user-option h3 {
  margin: 1.625em auto;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

main div.main section.picking-section .computer-option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main div.main section.picking-section .computer-option h3 {
  margin: 1.625em auto;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

main div.main section.results-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: inherit;
  height: 373px;
  margin-bottom: 3.1875em;
}

main div.main section.results-section h3 {
  color: white;
  font-size: 0.7em;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

main div.main section.results-section .results-pane {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  margin: 0 auto;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

main div.main section.results-section .results-pane .result-banner {
  color: white;
  font-size: 2.5em;
  line-height: 1;
}

main div.main section.results-section .results-pane button {
  border-radius: 10px;
  width: 13.75em;
  height: 3em;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #141539;
  outline: none;
  background-color: #fff;
  border: none;
  font-weight: 600;
  letter-spacing: 0.2em;
}

main div.main section.results-section .picking-option {
  -webkit-box-shadow: inset 0 -0.3rem rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 -0.3rem rgba(0, 0, 0, 0.2);
}

main div.main section.results-section .picking-option span {
  -webkit-box-shadow: inset 0 0.3rem rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 0.3rem rgba(0, 0, 0, 0.2);
}

main div.main section.results-section .picking-option span img {
  width: auto;
  height: 2.5rem;
}

main div.main section.results-section .picking-option span img.rock-image {
  height: 2.2rem;
  width: auto;
}

main div.main section.results-section .user-option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main div.main section.results-section .user-option h3 {
  margin: 1.625em auto;
}

main div.main section.results-section .computer-option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main div.main section.results-section .computer-option h3 {
  margin: 1.625em auto;
}

@media (min-width: 85em) {
  body {
    padding: 0;
    min-height: 100%;
    max-height: 100vh;
  }
  header {
    margin: 2.875em auto;
    padding: 1em 1.5em;
    outline: #606e85;
    border: 3px solid #606e85;
    border-radius: 0.8em;
    height: 9.5625rem;
    width: 43.875rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header img {
    margin: 0.6125em 0.6875em;
    height: 6em;
  }
  header .score {
    width: 9.375em;
    height: 7.125em;
    background: white;
    border: none;
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1em;
  }
  header .score h4 {
    color: #2a46c0;
    letter-spacing: 0.1rem;
    margin: 0;
    font-weight: 600;
    font-size: revert;
  }
  header .score p {
    font-weight: 700;
    font-size: 4rem;
    margin: 0;
    color: rgba(59, 67, 99, 0.85);
    line-height: 1;
  }
  main {
    padding: 1em 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: unset;
  }
  main div.first {
    width: 13em;
    display: block;
  }
  main nav.rules {
    width: 13em;
    height: 475px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse wrap;
            flex-flow: column-reverse wrap;
    padding: 0 2em;
    margin: unset;
  }
  main nav.rules button {
    width: 8.125rem;
    height: 2.625rem;
    -ms-flex-item-align: end;
        align-self: flex-end;
    border: 2px solid #fff;
    background: transparent;
    color: #fff;
    font-size: 1em;
    text-transform: uppercase;
    font-family: inherit;
    padding: 0.25em 1.5625em;
    border-radius: 10px;
    letter-spacing: 0.15em;
    margin: unset;
  }
  main div.main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    width: 59.125rem;
  }
  main div.main button {
    width: 12.5625rem;
    height: 12.8125rem;
    border-radius: 50%;
    -webkit-box-shadow: inset 0 -0.5rem rgba(0, 0, 0, 0.2);
            box-shadow: inset 0 -0.5rem rgba(0, 0, 0, 0.2);
  }
  main div.main button span {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    background-color: #fff;
    height: 9.625rem;
    width: 9.625rem;
    border-radius: 50%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-shadow: inset 0 0.5rem rgba(0, 0, 0, 0.2);
            box-shadow: inset 0 0.5rem rgba(0, 0, 0, 0.2);
  }
  main div.main .paper-option {
    outline: none;
    border: none;
    background: -webkit-gradient(linear, left top, left bottom, from(#4865f4), to(#5671f5));
    background: linear-gradient(#4865f4, #5671f5);
  }
  main div.main .scissors-option {
    outline: none;
    border: none;
    background: -webkit-gradient(linear, left top, left bottom, from(#ec9e0e), to(#eca922));
    background: linear-gradient(#ec9e0e, #eca922);
  }
  main div.main .rock-option {
    outline: none;
    border: none;
    background: -webkit-gradient(linear, left top, left bottom, from(#dc2e4e), to(#dd405d));
    background: linear-gradient(#dc2e4e, #dd405d);
  }
  main div.main div.controls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    width: 30em;
    height: 27.0625em;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }
  main div.main div.controls img {
    width: auto;
    height: 5rem;
  }
  main div.main div.controls button img.rock-image {
    height: 4rem;
    width: auto;
  }
  main div.main div.controls .paper__option__main {
    margin: 0 auto auto 0;
  }
  main div.main div.controls .scissors__option__main {
    margin: 0 0 auto auto;
  }
  main div.main div.controls .rock__option__main {
    margin: auto auto 0 auto;
  }
  main div.main div.controls::after {
    content: '';
    position: absolute;
    background-image: url("./images/bg-triangle.svg");
    background-repeat: no-repeat;
    background-size: 19rem 17rem;
    height: 65%;
    width: 65%;
    top: 20%;
    left: 20%;
    z-index: -1;
  }
  main div.main section.picking-section {
    display: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 1em 8.625em;
  }
  main div.main section.picking-section h3 {
    color: white;
    font-size: 2em;
  }
  main div.main section.picking-section .picking-option {
    width: 18.375rem;
    height: 18.875rem;
    -webkit-box-shadow: inset 0 -0.7rem rgba(0, 0, 0, 0.2);
            box-shadow: inset 0 -0.7rem rgba(0, 0, 0, 0.2);
  }
  main div.main section.picking-section .picking-option span {
    height: 14.0625rem;
    width: 14.4375rem;
    -webkit-box-shadow: inset 0 0.7rem rgba(0, 0, 0, 0.2);
            box-shadow: inset 0 0.7rem rgba(0, 0, 0, 0.2);
  }
  main div.main section.picking-section .picking-option span img {
    width: auto;
    height: 5rem;
  }
  main div.main section.picking-section .picking-option span img.rock-image {
    height: 4rem;
    width: auto;
  }
  main div.main section.picking-section .picking {
    -webkit-box-shadow: none;
            box-shadow: none;
    background: transparent;
  }
  main div.main section.picking-section .picking span {
    height: 14.0625rem;
    width: 14.4375rem;
    border-radius: 50%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #141539;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  main div.main section.picking-section .picking span img {
    visibility: hidden;
  }
  main div.main section.picking-section .user-option {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 24.1875em;
  }
  main div.main section.picking-section .user-option h3 {
    margin: 0 auto;
  }
  main div.main section.picking-section .computer-option {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 24.1875em;
  }
  main div.main section.picking-section .computer-option h3 {
    margin: 0 auto;
  }
  main div.main section.results-section {
    display: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 1em 0;
  }
  main div.main section.results-section h3 {
    color: white;
    font-size: 2em;
  }
  main div.main section.results-section .results-pane {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-ordinal-group: unset;
        -ms-flex-order: unset;
            order: unset;
    -ms-flex-item-align: unset;
        align-self: unset;
  }
  main div.main section.results-section .results-pane .result-banner {
    color: white;
    font-size: 3.5em;
    line-height: 1;
    margin: 9.3125rem 0 1.625rem;
  }
  main div.main section.results-section .results-pane button {
    border-radius: 10px;
    width: 13.75em;
    height: 3em;
    -webkit-box-shadow: none;
            box-shadow: none;
    color: #141539;
    outline: none;
    background-color: #fff;
    border: none;
    font-weight: 700;
    letter-spacing: 0.2em;
  }
  main div.main section.results-section .picking-option {
    width: 18.375rem;
    height: 18.875rem;
    -webkit-box-shadow: inset 0 -0.7rem rgba(0, 0, 0, 0.2);
            box-shadow: inset 0 -0.7rem rgba(0, 0, 0, 0.2);
  }
  main div.main section.results-section .picking-option span {
    height: 14.0625rem;
    width: 14.4375rem;
    -webkit-box-shadow: inset 0 0.7rem rgba(0, 0, 0, 0.2);
            box-shadow: inset 0 0.7rem rgba(0, 0, 0, 0.2);
  }
  main div.main section.results-section .picking-option span img {
    width: auto;
    height: 5rem;
  }
  main div.main section.results-section .picking-option span img.rock-image {
    height: 4rem;
    width: auto;
  }
  main div.main section.results-section .user-option {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 24.1875em;
  }
  main div.main section.results-section .user-option h3 {
    margin: 0 auto;
  }
  main div.main section.results-section .computer-option {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 24.1875em;
  }
  main div.main section.results-section .computer-option h3 {
    margin: 0 auto;
  }
}
/*# sourceMappingURL=style.css.map */